# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# logs and data
*.log
logs/
servers/
emojis.zip
*.db
database/backup/backup.sql

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# settings
.vscode/
.ruff_cache/
.devcontainer/

# config
config/config.toml
application.yml
plugins/*
