aiohttp>=3.8.1
async_timeout>=4.0.2
av>=9.2.0
beautifulsoup4>=4.11.1
disnake>=2.7.0
GitPython>=3.1.29
lxml>=4.8.0
pandas>=1.5.0
Pillow>=9.3.0
PyDrive>=1.3.1
pytz>=2022.1
requests>=2.25.1
toml>=0.10.2
tqdm>=4.64.1
Unidecode>=1.3.4
youtube_dl>=2021.12.17
sqlalchemy
